.composer-pane {
    // border: 1px solid blue;
    height: calc(var(--vh, 1vh) * 92);

    .color-comp-container {
        width: 100%;
        height: 100%;
    }
}

.composer-container {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 92);
}

.composer-fix {
    width: 100%;
    height: 20%;
    // display: flex;
}

@media screen and (min-width: 768px) {
    .composer-pane {
        height: 95vh;
        // outline: 3px solid purple;
    }
    .composer-container {
        height: 95vh;
    }
}


@media (orientation: landscape) {
    .composer-pane {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .composer-container {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        height: 95vh;
    }

    .composer-fix {
        width: 20%;
        height: 100%;
    }
}
