.account-settings {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.acct-settings-menu {
  > * {
    width: 100%;
  }
}

.alert {
  color: red;
}

.field-label {
  margin-top: 10px;
  margin-bottom: 5px;
  // width: 150px;
}

.acct-section {
  > * {
    margin-bottom: 5px;
  }
}

@media (orientation: landscape) {
  .acct-form {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .acct {
    display: flex;
    flex-direction: column;
  }
}
