// .palette-container {
//   // max-width: 20rem;
//   // border: 1px solid red;
// }

.palette {
  display: flex;
  justify-content: space-between;
  // max-width: 20em;
  // margin-right: 0;
}

.palette-title {
  padding: 10px;
  width: 35%;
  text-align: left;
}

.palette-name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.palette-colors-container {
  display: flex;
  justify-content: flex-end;
  height: 36px;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.palette-menu {
  position: relative;
  text-align: right;
}

.menu-off {
  display: none;
}

.palette-button {
  // margin-left: 2vw;
  margin-top: .7vh;
}

@media screen and (min-width: 768px) {
  .palette-title {
    width: 45%;
  }
}