.palette-container {
  width: 100%;
}

.palette {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.palette-title {
  padding: 10px;
  width: 35%;
  // overflow: hidden;

  text-align: left;
}

.palette-name {
  // background-color: red;
  // width: 200vw;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.palette-colors-container {
  display: flex;
  justify-content: flex-end;
  width: 65%;
  border-radius: 5px;
  overflow: hidden;
}

.palette-menu {
  position: relative;
  text-align: right;
}

.palette-button {
  margin-left: 5vw;
  margin-top: .7vh;
}
