.color-comp {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.editor-button {
  margin-right: 6.5vw;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  height: 24px;
}


.editor-indicator-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  opacity: 30;
  height: 100%;
}

.hex-indicator {
  // transform: rotate(-90deg);
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-weight: 600;
  margin-right: 7vw;
  opacity: 30;
}

.editorIndicator {
  background-color: rgba(255, 255, 255, .5);
  border-radius: 100%;
  width: 1em;
  height: 1em;
  margin-right: 7vw;
  opacity: 30;
}

.invisible-button {
  position: relative;
  appearance: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.arrow {
  display: none;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, .7);
}

.arrow-hidden {
  display: none;
}

.arrow-left {
  transform: rotate(180deg);
  margin-left: 20px;
  &:hover {
    // transform: rotate(180deg);
    transform: scale(1.1) rotate(180deg);
  }
}

.arrow-right {
  margin-right: 20px;
  margin-left: auto;
  &:hover {
    transform: scale(1.1);
  }
}

@media (orientation: landscape) {
  .color-comp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .editor-indicator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    opacity: 30;
    width: 100%;
  }

  .hex-indicator {
    transform: rotate(-90deg);
    margin: 0;
    margin-bottom: 6vw;
  }

  .editorIndicator {
    margin: 0;
    margin-bottom: 5vw;
  }

  @media screen and (min-width: 768px) {
    .arrow {
      margin-top: calc(45vh - 25px);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 100px;
      border-radius: 10px;
      // background-color: rgba(255, 255, 255, .2);
      transition: all .3s ease-in-out;
    }
  }
}