.top-bar {
    flex: 0 1 auto;
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: left;
    align-items: center;
}

.search-icon {
    margin-top: .8vh;
}

.search-bar {
    opacity: 0;
    height: 50vh;
    padding: 2em;
}

@media (orientation: landscape) {
    .top-bar {
        height: 20vh;
    }

    .search-icon {
        margin-top: calc(10vh - 16px);
    }
}