.top-bar {
    // flex: 0 1 auto;
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
}

.search-icon {
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 16px;
    margin-right: 10px;
}

.search-bar {
    opacity: 0;
    height: 50vh;
    padding: 2em;
    margin-top: 5px;
    width: 10px;
}

.hamburger {
    margin-right: calc(8.5vw - 24px);
    margin-left: 15px;
    // padding: 0;
}

.title {
    // display: none;
    margin-left: auto;
    margin-right: 10px;
    transition: all .7s ease-in-out;
    font-family: 'Dancing Script', cursive;

}

@media screen and (min-width: 768px) {
    // .title {
    //     display: inline;
    // }
    .top-bar {
        height: 5vh;
    }
    .search-bar {
        width: 20px;
    }
    .hamburger {
        margin-right: calc(4vw - 24px);
    }
}

@media screen and (min-width: 1200px) {
    .hamburger {
        margin-right: calc(3vw - 24px);
    }
}

// @media (orientation: landscape) {
//     @media screen and (max-height: 400px) {
//         .top-bar {
//             height: 12vh;
//         }
    
//         .hamburger {
//             margin-right: calc(7vw - 24px);
//         }
    
//         .search-icon {
//             margin-left: 40px;
//         }
//     }
// }

