/* * Base Styles * */

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(var(--vh, 1vh) * 100)

}

html {
  padding: env(safe-area-inset);
}

h2 {
  margin: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  // height: 50vh;
  // max-height: 30vh;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}
/* * Dark / Light Modes * */

html {
background-color: #FAFAFA;
  h1, h2, h3, h4, h5, p, span {
  color: #616161;
}
  input[type=text], input[type=password], input[type=email] {
    background-color: #FFFFFF;
    border: 1px solid;
    color: #616161;
  }
    ::placeholder {
      color: #b0b0b0;
    }
    // ::-webkit-slider-thumb {
    //   background-color: #616161;
    // }
  .saved-palettes-container {
    background-color: #FAFAFA;
  }
  --background-color: #FAFAFA;
}

html.dark {
  background-color: #212121;
  h1, h2, h3, h4, h5, p, span, button {
    color: #BDBDBD;
  }
  input[type=text], input[type=password], input[type=email] {
    background-color: #000000;
    // border-color: #616161;
  }
    ::placeholder {
      color: #616161;
    }
    // ::-webkit-slider-thumb {
    //   background-color: #616161;
    // }
    .saved-palettes-container {
      background-color: #212121;
    }
    --background-color: #212121;
}


/* * Text Formatting * */
a {
  text-decoration: none;
}

.bigFont {
  font-family: 'Myriad Pro', sans-serif;
}

.medFont {
  font-family: 'Myriad Pro', sans-serif;
  font-size: 18px;
  font-weight: 500;
}


/* * Inputs / Buttons * */
button:disabled {
  opacity: .5;
}

input[type=text], input[type=password], input[type=email] {
  padding: 3px;
  border-radius: 5px;
}




/* * Layout * */

@media (orientation: landscape) {
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
}
