// .saved-palettes {
//   height: 100%;
// }

.saved-palettes-container {
  position: fixed;
  top: 0;
  right: 100vw;
  width: 83vw;
  height: 100vh;
}

.section-header {
  margin-bottom: 10px;
}

.palette-hr {
  width: 95%;
}

.palettes-window {
  overflow-y: scroll;
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  // border: 1px solid red;
}

.individual-palette {
  width: 300px;
}


@media (orientation: landscape) {
  .saved-palettes-container {
    top: 0;
    width: 90vw;
    padding-left: 2em;
  }

  .section-header {
    display: flex;
    align-items: center;
    height: 3em;
  }

  .palette-search-bar {
    height: 1.5em;
    margin-left: 10px;
  }


}

