.saved-palettes {
  height: 100%;
  border-top: 1px solid #616161;
  overflow-y: scroll;
}

.saved-palettes-container {
  position: fixed;
  top: 8vh;
  right: 100vw;
  width: 83vw;
  height: 92vh;
}

.section-header {
  margin-bottom: 10px;
}

.palette-hr {
  width: 95%;
}
